Source: vyatta-hotplug
Section: net
Priority: optional
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/vyatta-hotplug.git
Vcs-Browser: https://github.com/nudanos/vyatta-hotplug

Package: vyatta-hotplug
Architecture: all
Depends: ${misc:Depends},
	 vyatta-dataplane,
	 libvyatta-dataplane-perl | vplane-config,
	 libconfig-tiny-perl,
Description: vyatta dataplane hotplug
 This package has scripts supporting Vyatta dataplane hotplug
 feature.
